{{ define "main" }}
 <script type="text/javascript">
  $(document).ready(function() {
      $('#Wallets').DataTable( {
          "order": [[ 0, "asc" ]],
          responsive: true
      } );
  } );
</script>

<main class="dogepedia">
    <div class="title">
      <h1>{{ .Title }}</h1>
      <a href="#" onclick="history.back()" style="text-decoration: none">< {{i18n "listWallets[muchgoback]" }} </a> — <b>{{ .Title }}</b></a>
    </div>
      <div class="underline"></div>
<section class="box">

  <!-- Tab content -->
<div>
<main class="dogepedia">
  <div style="max-width: 1200px; margin: auto;background-color: #FFFFFF !important; padding: 15px; border-radius: 20px">
<table id="Wallets"cellspacing="1"  width="100%" style="border-color: #EEEEEE; text-align: left !important" class="table table-striped">
<thead>
  <tr bgcolor="#EEEEEE" style="font-weight: bold">
    <th></th>
    <th>{{i18n "listWallets[wallet]" }}</th>
    <th>{{i18n "listWallets[type]" }}</th>
    <th>{{i18n "listWallets[active]" }}</th>
    <th>{{i18n "listWallets[version]" }}</th>
    <th>{{i18n "listWallets[download]" }}</th>
  </tr>
</thead>

 {{ range where .Pages ".Params.type" "wallet" }}
  <tr>
    <td>
      <div class="row">{{ if ne .Params.wallet_Image "" }}<img src="{{ .Params.wallet_Image }}" alt="{{ .Params.name }}" style="max-width: 30px;border-radius: 50%;">{{ else }}<img src="/assets/images/1.png" alt="{{ .Params.name }}" style="max-width: 30px;border-radius: 50%;">{{ end }}</div>
    </td>
    <td>
      {{ .Params.name }}
    </td>
    <td>
    {{ if eq .Params.contribution_Webdesign "yes" }}<span class="badge bg-secondary" style="background-color: rgba(255, 51, 153, 1) !important">webdesign</span>{{ end }}
    {{ if eq .Params.contribution_Assets "yes" }}<span class="badge bg-secondary" style="background-color: rgba(255, 255, 0, 1) !important; color: rgba(51, 51, 51, 1)">assets</span>{{ end }}
    {{ if eq .Params.contribution_Coding "yes" }}<span class="badge bg-secondary" style="background-color: rgba(51, 51, 51, 1) !important;">coding</span>{{ end }}

    {{ if eq .Params.type_self_custodial "yes" }}<span class="badge bg-success" >Self Custodial</span>{{ end }}
    {{ if eq .Params.type_custodial "yes" }}<span class="badge bg-danger">Custodial</span>{{ end }}
    {{ if eq .Params.type_full_node "yes" }}<span class="badge bg-warning" style="color: rgba(51, 51, 51, 1)">Full Node</span>{{ end }}
    {{ if eq .Params.type_browser "yes" }}<span class="badge bg-primary">Browser</span>{{ end }}
    {{ if eq .Params.type_app "yes" }}<span class="badge bg-secondary" style="background-color: rgba(255, 51, 153, 1) !important">App</span>{{ end }}
    {{ if eq .Params.type_key_import "yes" }}<span class="badge bg-secondary" style="background-color: rgba(255, 255, 0, 1) !important; color: rgba(51, 51, 51, 1)">Key Import</span>{{ end }}
    {{ if eq .Params.type_seed_import "yes" }}<span class="badge bg-secondary" style="background-color: rgba(255, 255, 0, 1) !important; color: rgba(51, 51, 51, 1)">Seed Import</span>{{ end }}
    {{ if eq .Params.type_qr_paper_wallet "yes" }}<span class="badge bg-secondary" style="background-color: rgba(255, 255, 0, 1) !important; color: rgba(51, 51, 51, 1)">QR Paper Wallet</span>{{ end }}
    </td>
    <td>{{ if eq .Params.active "yes" }}<i class="fa-solid fa-check" style="color: #28a745" aria-hidden="true"></i>{{ else }}<i class="fa-solid fa-circle-xmark" style="color: rgba(255, 51, 0, 1)" aria-hidden="true"></i>{{ end }}</td>
    <td>{{ .Params.version }}</td>
    <td>
      {{ if ne .Params.download_i686_url "" }}<a href="{{ .Params.download_i686_url }}" target="_blank"><span class="badge bg-secondary" style="padding: 5px; background-color: rgba(102, 102, 102, 1) !important"><i class="fa-brands fa-linux" style="color: #FFFFFF" aria-hidden="true"></i> i686</span></a>{{ end }}
      {{ if ne .Params.download_x86_64_url "" }}<a href="{{ .Params.download_x86_64_url }}" target="_blank"><span class="badge bg-secondary" style="padding: 5px; background-color: rgba(102, 102, 102, 1) !important"><i class="fa-brands fa-linux" style="color: #FFFFFF" aria-hidden="true"></i> x86_64</span></a>{{ end }}
      {{ if ne .Params.download_win32_url "" }}<a href="{{ .Params.download_win32_url }}" target="_blank"><span class="badge bg-secondary" style="padding: 5px; background-color: rgba(102, 102, 102, 1) !important"><i class="fa-brands fa-windows" style="color: #FFFFFF" aria-hidden="true"></i> win32</span></a>{{ end }}
      {{ if ne .Params.download_win64_url "" }}<a href="{{ .Params.download_win64_url }}" target="_blank"><span class="badge bg-secondary" style="padding: 5px; background-color: rgba(102, 102, 102, 1) !important"><i class="fa-brands fa-windows" style="color: #FFFFFF" aria-hidden="true"></i> win64</span></a>{{ end }}
      {{ if ne .Params.download_MacOS_url "" }}<a href="{{ .Params.download_MacOS_url }}" target="_blank"><span class="badge bg-secondary" style="padding: 5px; background-color: rgba(102, 102, 102, 1) !important"><i class="fa-brands fa-apple" style="color: #FFFFFF" aria-hidden="true"></i>MacOS</span></a>{{ end }}
      {{ if ne .Params.download_android_url "" }}<a href="{{ .Params.download_android_url }}" target="_blank"><span class="badge bg-secondary" style="padding: 5px; background-color: rgba(102, 102, 102, 1) !important"><i class="fa-brands fa-android" style="color: #FFFFFF" aria-hidden="true"></i> Android</span></a>{{ end }}
      {{ if ne .Params.download_ios_url "" }}<a href="{{ .Params.download_ios_url }}" target="_blank"><span class="badge bg-secondary" style="padding: 5px; background-color: rgba(102, 102, 102, 1) !important"><i class="fa-brands fa-apple" style="color: #FFFFFF" aria-hidden="true"></i> IOS</span></a>{{ end }}
      {{ if ne .Params.download_browser_url "" }}<a href="{{ .Params.download_browser_url }}" target="_blank"><span class="badge bg-secondary" style="padding: 5px; background-color: rgba(102, 102, 102, 1) !important"><i class="fa-solid fa-globe" style="color: #FFFFFF" aria-hidden="true"></i> Browser</span></a>{{ end }}
    </td>

  </tr>
    {{ end }}
</table>
</div>
{{ end }}