  .community {
    position:relative;
    display: block;
    padding: 7.5vh 0 50px 0;

    [data-theme=dark] & {
      color: #ffffff;
    }
    .do-only {
      @include font-size(6.5vw);
    }
    .good-everyday {
      @include font-size(6.5vw);
      padding-right: 1rem !important;
    }
    .video {
      max-width: 100%;
      height: auto;
   }
   .social-image {
     border: 0.5px solid gainsboro;
     width: 24% !important;

     a img {
      padding: 0 !important;
      height: 100%;
      vertical-align: middle;
     }
   }
   .youtube-logo {
     max-width: 60% !important;
   }
  }


@media (max-width: 575px) {
  .community {
    width: 100vw;
    position: relative;
    display: block;
    padding-top: 6.5em;
    left: 3rem;

    [data-theme="dark"] & {
      color: #ffffff;
    }
  }
}

@media (min-width: 992px) {
  .community {
    .do-only-box {
      margin-left: 10vw;
    }
  }

  .doge-graphics {
    position: relative;
    width: 100%;
    margin: auto;
  }

  .doge-graphics-letter {
    margin: auto;
  }
}
