  .community {
    position:relative;
    display: block;
    padding: 100px 0 50px 0;

    [data-theme=dark] & {
      color: #ffffff;
    }
    .do-only {
      @include font-size(11rem);
    }
    .good-everyday {
      @include font-size(11rem);
      padding-right: 1rem !important;
    }
  }


@media (max-width: 575px) {
  .community {
    width: 100vw;
    position: relative;
    display: block;
    padding-top: 6.5em;
    left: 3rem;

    [data-theme="dark"] & {
      color: #ffffff;
    }
  }
}