.footer-container {
  max-width: $max-width;
  margin: auto;
  text-align: left;
  padding: 50px 0;

  .footer-row {
    display: flex;
    flex-wrap: wrap;

    .footer-column1 {
      width: 34%;

      p {
        padding-top: 20px;
        font-size: 0.9rem;
        color: #999;
        line-height: 1.7;
        width: 80%;
      }
    }

    .footer-column {
      width: 22%;

      .footer-title {
        font-size: 22px;
        line-height: 60px;
        margin-bottom: 10px;
        text-decoration: none;
      }

      li {
        list-style: none;
        margin-bottom: 10px;

        a {
          text-decoration: none;
          font-size: 0.9rem;

          [data-theme=dark] & {
            color: $dark-color-secondary;
          }
          [data-theme=light] & {
            color: $light-color-secondary;
          }
        }
      }
    }
  }
}

.footer {
  .footer-credits-box {
    display: inline;

    .footer-credits {
      display: inline-block;
      width: fit-content;
    }
  }
}

.footer-label {
  font-weight: bold;
  [data-theme=dark] & {
    color: $dark-color;
  }
  [data-theme=light] & {
    color: $light-color;
  }
}

@media screen and (max-width: 1440px) {
  .footer-column1 {
    padding-left: 20px;
  }
}

@media #{$media-size-tablet} {
  .footer-image {
    display: none;
  }
  .footer-column1 {
    margin-bottom: 20px;
    padding-left: 0;
    width: 50% !important;
  }
  .footer-column {
    width: 50% !important;
    margin-bottom: 20px;
  }
}

@media #{$media-size-phone} {
  .footer-image {
    display: none;
  }

  .footer-column1 {
    position: relative;
    padding-right: 1em !important;
    width: 100% !important;
  }

  .footer-column {
    position: relative;
    width: 80% !important;
    margin-bottom: 20px;
    margin: auto;
  }
}

.footer-image {
  position: absolute;
  bottom: 0px;
  height: 300px;
  width: auto;
  left: 15vw;
  z-index: -10;
}

.footer {
  position: relative;
  padding: 10px 20px;
  flex-grow: 0;
  color: $light-color-secondary;
  @media #{$media-size-phone} {
    margin-top: 15px;
  }
  [data-theme=dark] & {
    border-top: 1px solid $dark-border-color;
  }
  [data-theme=light] & {
    border-top: 1px solid $light-border-color;
  }

  &__inner {
    display: flex;
    margin: 0 auto;
    width: 1400px;
    max-width: 100%;

    @media #{$media-size-tablet} {
      flex-direction: column;
    }
  }

  &__content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    font-size: 1rem;
    color: $light-color-secondary;
    @media #{$media-size-tablet} {
      flex-direction: column;
      justify-content: center;
      margin: 10px 0px;
    }


    & > *:last-child {
      padding: 0 0px;

      @media #{$media-size-tablet} {
          padding: 0;
      }
    }

    .social-media-icons {
      margin-right: 5px;
      svg {
        width: 16px;
        height: 16px;
      }
    }
    &-left {
      display: flex;
      align-items: center;

      @media #{$media-size-tablet} {
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}