.home {
  @mixin coverer {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }

  video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    visibility: visible;
  }
  
  video.scrolled {
    visibility: hidden;
  }

  .viewport-header {
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 6.9vw;
    font-weight: 700;
    color:#c5c5c5;
    top: 50%;
  }

  h2 {
    font-size: 45px;
    line-height: 1.1em;
    margin: 0px;
    display: block;
    @media #{$media-size-phone} {
      font-size: 40px;
    }
    color:#c5c5c5;
  }

  @mixin cover($i, $url) {
    &:nth-child(#{$i}) {
      &:after {
        background-image: url($url);
      }
    }
  }

  .wrapper {
    position: relative;
    width: 97.9vw;
    height: 100vh; 
    overflow: hidden;
    display: block;
    padding-top: 100px;
    .section {
      position: relative;
      background: white;
      .article {
        width: 97.9vw;
        height: 100vh;
        margin: 0 auto;
        padding: 2em 0;
        p {
          margin-bottom: 1em;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
      &:after {
        content: "";
        display: block;
        position: relative;
        background-attachment: fixed;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 30em;
        width: 100%;
      }
      @include cover(1, "");
    }
  }
  
  @media only screen and (max-width: 600px) {
    .wrapper {
      section {
        article {
          width: 100%;
        }
        &:after {
          height: 15em;
        }
      }
    }
  }

  main {
    background: white;
    position: relative;
    padding: 1rem;
    &::before {
      content: "";
      @include coverer;
      top: -100vh;
    }
    p {
      max-width: 100vw;
      margin: 1rem auto;
    }

    [data-theme=dark] & {
      color: #ffffff;
    }

    .underline {
      width: 100px;
      height: 6px;
      margin: 15px 0px;

      [data-theme=dark] & {
        background: #ffffff;
      }

      [data-theme=light] & {
        background: #c5c5c5;
      }

      @media #{$media-size-phone} {
        margin: 15px auto;
      }
    }

    .subtitle {
      margin: 0px;
      font-size: 32px;
      font-weight: 200;
    }
  }
}

@keyframes rainbow {
  100%, 8% {
    background-color: rgb(255, 127, 0);
  }
  16% {
    background-color: rgb(255, 255, 0);
  }
  25% {
    background-color: rgb(127, 255, 0);
  }
  33% {
    background-color: rgb(0, 255, 0);
  }
  41% {
    background-color: rgb(0, 255, 127);
  }
  50% {
    background-color: rgb(0, 255, 255);
  }
  58% {
    background-color: rgb(0, 127, 255);
  }
  66% {
    background-color: rgb(0, 0, 255);
  }
  75% {
    background-color: rgb(127, 0, 255);
  }
  83% {
    background-color: rgb(255, 0, 255);
  }
  91% {
    background-color: rgb(255, 0, 127);
  }
}