.manifesto {
  .main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: $max-width;
    .right {
      text-align: left;
      p {
        margin-bottom: 40px;
      }
      .signatories {
        font-weight: bold;
        margin-top: 40px;
        [data-theme=dark] & {
          color: #ffffff;
        }
        .people {
          margin-top: 20px;
          ul {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            list-style-type: none;
            margin: 0;
          }
        }
      }
    }
    .left {
      text-align: left;
      padding-top: 55px;
      h1 {
        font-family: "Montserrat", sans-serif;
        font-size: 48px;
        line-height: 1.1em;
        margin: 0px;
        display: block;
        width: 450px;
      }
      .underline {
        width: 177px;
        height: 21px;
        margin: -15px 0px 15px 4px;
        [data-theme=dark] & {
          background: #313131;
        }
        [data-theme=light] & {
          background: #d3d3d3;
        }
      }
      .tweet {
        div {
          margin-bottom: 15px;
        }
      }
    }
    @media #{$media-size-phone} {
      flex-direction: column;
      .left, .right {
        width: 100%;
      }
      .left {
        h1 {
          font-size: 40px;
          width: 100%;
        }
        .tweet {
          display: flex;
          justify-content: space-between;
        }
      }
      .right {
        .signatories {
          .people {
            ul {
              grid-template-columns: repeat(2, 1fr);
            }
          }
        }
      }
    }
  }
}
