.resources-top {
  position: relative;
  display: block;
  width: 100%;
  padding: 1rem !important;
  margin: auto !important;
  background-color: #fafafa;
}

.resources-bottom {
  background-image: url(assets/images/25.png), url(assets/images/31.png);
  background-position: left, right;
  background-repeat: no-repeat;
  position: relative;
  display: block;

  [data-theme="dark"] & {
    color: #000000;
  }
  [data-theme="light"] & {
    .accordion-header {
      color: #ffffff;
    }
    .accordion-body {
      color: #000000;
    }
  }
}
.resources-bottom.card {
  background-color: #fcf4df;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  #resources {
    width: 100%;
    position: relative;
    display: block;
    padding-top: 6.5em;
    left: 3rem;
  }

  .resources-bottom {
    width: 100%;
    top: 6.5rem !important;
    padding: 1rem !important;
    margin: auto !important;
    height: 100% !important;
    position: relative;
    display: block;
    top: 5vh !important;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  #resources {
    width: 100%;
    position: relative;
    display: block;
    padding-top: 6.5em;
  }
  .resources-bottom {
    position: relative;
    display: block;
    top: 5vh !important;
    .card {
      width: 96px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  #resources {
    height: 100%;
  }
  .resources-top {
    margin: 50px 0 100px 0;
  }
  .resources-bottom {
    position: relative;
    display: block;
    top: 5vh !important;
    .card {
      width: 96px;
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  .resources-top {
    margin: 50px 0 50px 0;
  }
  .resources-bottom {
    position: relative;
    display: block;
    top: 5vh !important;
    .card {
      width: 96px;
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .resources-top {
    margin: 50px 0 100px 0;
  }
  .resources-bottom {
    height: 55vh !important;
    position: relative;
    display: block;
    top: 10vh !important;
    .card {
      width: 96px;
    }
  }
}

.find-more-card {
  border-radius: 10px !important;
  text-align: left !important;

  h5 {
    font-weight: bold;
  }

  .find-more-text {
    padding: 1rem;
    padding-bottom: 0.7rem;

    a {
      padding-bottom: 0.3rem;
      text-decoration: none !important;
      border-bottom: 1px solid #000000;
    }
  }
}
