

  .resources-top {
    position:relative;
    display: block;
    padding: 50px 0 50px 0 !important;
    margin: 0;
    background-color: #fafafa;
  }

  .resources-bottom {
    background-image: url(assets/images/25.png), url(assets/images/31.png);
    background-position: left, right;
    background-repeat: no-repeat;
    position:relative;
    display: block;

    [data-theme=dark] & {
      color: #000000;
    }
    [data-theme=light] & {
      .accordion-header {
        color: #ffffff;
      }
      .accordion-body {
        color: #000000;
      }
    }
  }
  .resources-bottom.card {
    background-color: #fcf4df;
  }

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
  #resources {
    width: 100vw;
    position: relative;
    display: block;
    padding-top: 6.5em;
    left: 3rem;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

  .resources-bottom {
    margin: 50px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  .resources-top {
    margin: 50px 0 100px 0;
  }
  .resources-bottom {
    margin: 100px;
    .card {
      width: 96px;
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 

}