@charset "UTF-8";

/* Light theme color */
$light-background: #fff;
$light-background-secondary: #eaeaea;
$light-background-header: #0b0b0b;
$light-color: #222;
$light-color-secondary: #999;
$light-border-color: #dcdcdc;
$light-table-color: #080808;

/* Dark theme colors */
$dark-background: #171717;
$dark-background-secondary: #1c1c1c;
$dark-background-header: #0b0b0b;
$dark-color: #a9a9b3;
$dark-color-secondary: #b3b3bd;
$dark-border-color: #4e4e57;
$dark-table-color: #0b0b0c;

$media-size-phone: "(max-width: 720px)";
$media-size-tablet: "(max-width: 992px)";

/* Variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 720px);
  --tabletWidth: (max-width: 992px);
}

/* Content */
$max-width: 1400px;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

