  .wallets-bg {
    height: 109.43396226415095vh !important;
    width: 97.9vw !important;
    background-image: url(assets/images/7.png), url(assets/images/8.png), url(assets/images/9.png);
    background-position: top, bottom, right;
    background-repeat: no-repeat;
  }

  .wallet {
    position: relative;
    width: 97.9vw;
    height: 100vh; 
    overflow: hidden;
    display: block;
    padding-top: 100px;
  }