
.wallets-bg {
  width: 100vw !important;
  background-image: url(assets/images/wallets_bg.png);
  background-size: 100vw; // wraps under phone image
  background-repeat: no-repeat;
}

.wallet {
  position: relative;
  overflow: hidden;
  display: block;
  padding-top: 15vh;
  [data-theme="dark"] & {
    color: #ffffff;
    .card-body {
      color: #000000;
    }
  }
  .card {
    height: 100%;
    width: 100%;
    min-height: 12rem !important;
    max-height: 19rem !important;
    min-width: 12rem !important;
    max-width: 32rem !important;
    padding-top: 0.5rem !important;
  }
  p {
    @include font-size(.85rem);
  }
  .dropdown-toggle::after {
    visibility: hidden !important;
  }
}

.rounded-5 {
  border-radius: 20px;
  border: none;
}

@media (min-width: 992px) {
  .wallet-blurb {
    width: 80%;
    margin: 0 !important;
  }
}

.google-play-button {
  width: 15vw;
  height: auto;
  margin-top: 10px;
  margin-left: -5px;
}

.wallet-bottom-container {
  padding-top: 12vh !important;
  margin-top: 10vh;
}

.btn-outline-secondary{
  @media (prefers-color-scheme: light) {
    color: $light-color;
  }
  @media (prefers-color-scheme: dark) {
    color: $dark-color;
  }
  [data-theme=light] & {
    color: $light-color;
  }
  [data-theme=dark] & {
    color: $dark-color;
  }
}