  .parent {
    position: relative;
    background-image: src("assets/images/3.png") !important;
  }

  .under {
    position: relative;
    .img {
      height: 700px !important;
      width: 450px;
    }
  }

  .over {
    position: absolute;
    margin: auto;
  }



  // .parent {
  //   position: relative;
  //   top: 0;
  //   left: 0;
  // }
  // .under {
  //   position: relative;
  //   top: 0;
  //   left: 0;
  // }
  // .over {
  //   position: absolute;
  //   top: 30px;
  //   left: 30px;
  // }