<div id="community" class="community">
    <div class="container">
        <div class="row py-135">
            <div class="col-3 col-sm-3">
                <div class="doge_letter_image" data-aos="fade-up"
                data-aos-offset="100"
                data-aos-delay="10"
                data-aos-duration="1000">
                    <img src="assets/images/d-letter-img.png" alt="d letter img">
                </div>
            </div>
            <div class="col-3 col-sm-3" data-aos="fade-up"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="1000">
                <div class="doge_letter_image">
                    <img src="assets/images/o-letter-img.png" alt="d letter img">
                </div>
            </div>
            <div class="col-3 col-sm-3" data-aos="fade-up"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="1000">
                <div class="doge_letter_image">
                    <img src="assets/images/g-letter-img.png" alt="d letter img">
                </div>
            </div>
            <div class="col-3 col-sm-3" data-aos="fade-up"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="1000">
                <div class="doge_letter_image">
                    <img src="assets/images/e-letter-img.png" alt="d letter img">
                </div>
            </div>
        </div>
    </div>
    <!-- do only good everyday -->
    <div class="good_eneryday pb-70" id="community_1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-12 col-xl-10">
                    <div class="row">
                        <h3
                            class="montserrat letter-spacing-m2 fw-bold font100 text-center text-md-start color1d1d1f pb-90">
                            Do
                            Only<br class="d-none d-lg-block">
                            Good Everyday.</h3>
                        <div class="col-12 col-sm-12 col-md-6">
                            <div class="left_v_iframe">
                                <iframe width="100%" height="250" src="https://www.youtube-nocookie.com/embed/_KVZmS_UO5I"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6">
                            <div class="rignt_good_cnt ps-3 pe-2 pt-4 pt-md-0">
                                <p class="font22 comic fw-normal color222 line-height-30 text-justify mb-0">
                                    We believe that together, these key pillars that embody ‘Do Only Good Everyday’
                                    will guide us forward
                                    as we make decisions and advance the Dogecoin ecosystem. The Dogecoin means: as
                                    a technical project
                                    and as a movement for good in the world. Be part of our awesome community:
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- social media logoes -->
    <div class="social_media_logo_images pb-162">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-6 col-lg-3">
                    <div class="social_logo_img ">
                        <a href="javascript:void(0);" class="hvr-float-shadow"><img src="assets/images/facebook-img.png" class="img-fluid"
                                alt="facebook img"></a>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-3">
                    <div class="social_logo_img">
                        <a href="javascript:void(0);" class="hvr-float-shadow"><img src="assets/images/twitter-img.png" class="img-fluid"
                                alt="twitter img"></a>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                    <div class="social_logo_img">
                        <a href="javascript:void(0);" class="hvr-float-shadow"><img src="assets/images/reddit_img.png" class="img-fluid"
                                alt="reddit img"></a>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                    <div class="social_logo_img">
                        <a href="javascript:void(0);" class="hvr-float-shadow"><img src="assets/images/discord_img.png" class="img-fluid"
                                alt="discord img"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>