<div id="community" class="community">
    <div class="container">
        <div class="row pb-5">
            <img src="assets/images/17.png" />
        </div>
        <div class="row pb-5">
            <h1 class="text-start" style="font-size: 5em">Do Only</h1>
            <h1 class="text-start" style="font-size: 5em">Good Everyday.</h1>
        </div>
        <div class="row pb-5">
            <div class="col-lg-6">
                <img class="img-fluid" src="assets/images/video-placeholder.png" />
            </div>
            <div class="col-lg-6 pt-0">
                <p class="text-start fs-5">We believe that together, the key pillars that embody 'Do Only Good Everyday'
                    will guide us forward as we make decisions and advance the Dogecoin ecosystem. The Dogecoin means:
                    as a technical project and as a movement for good in the world. Be part of our awesome community:
                </p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-3 py-3 mx-auto">
                <img class="img-fluid p-3 mx-auto" src="assets/images/18.png" />
            </div>
            <div class="col-md-3 p-3">
                <img class="img-fluid p-4 mx-auto" src="assets/images/19.png" />
            </div>
            <div class="col-md-3 p-3">
                <img class="img-fluid p-2 mx-auto" src="assets/images/20.png" />
            </div>
            <div class="col-md-3 p-4">
                <img class="img-fluid p-3 mx-auto" src="assets/images/21.png" />
            </div>
        </div>
    </div>
</div>