<div id="community" class="community">
  <div class="container">
    <div class="row pb-5">
      <img src="assets/images/17.png" />
    </div>
    <div class="row pb-5">
      <h1 class="text-start" style="font-size: 4em">Do&nbsp;Only</h1>
      <h1 class="text-start" style="font-size: 4em">Good&nbsp;Everyday.</h1>
    </div>
    <div class="row pb-5">
      <div class="col-md">
        <img class="img-fluid" src="assets/images/video-placeholder.png" />
      </div>
      <div class="col-md pt-0">
        <p class="text-start blockquote bold">
          We believe that together, these key pillars that embody 'Do Only Good
          Everyday' will guide us forward as we make decisions and advance the
          Dogecoin ecosystem. The Dogecoin means: as a technical project and as
          a movement for good in the world. Be part of our awesome community:
        </p>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md p-3">
        <a href="https://facebook.com/OfficialDogecoin/">
          <img
            class="mx-auto p-2 img-fluid"
            style="width: 200px"
            src="assets/logos/facebook.png"
          />
        </a>
      </div>
      <div class="col-md p-3">
        <a href="https://twitter.com/dogecoin">
          <img
            class="mx-auto p-2 img-fluid"
            style="width: 200px"
            src="assets/logos/twitter.png"
          />
        </a>
      </div>
      <div class="col-md p-3">
        <a href="https://www.reddit.com/r/dogecoin">
          <img
            class="mx-auto p-2 img-fluid"
            style="width: 200px"
            src="assets/logos/reddit.png"
          />
        </a>
      </div>
      <div class="col-md p-3">
        <a href="https://discord.gg/dogecoin">
          <img
            class="mx-auto p-2 img-fluid"
            style="width: 200px"
            src="assets/logos/discord.svg"
          />
        </a>
      </div>
    </div>
  </div>
</div>
