<footer>
    <div class="footer-container">
        <img class="footer-image" src="/footer-map.png"/>
        <div class="footer-row">
            <div class="footer-column1" style="padding-top: 10px">
                <div class="logo">
                    <img src="/doge-logo.png" alt="Dogecoin logo" />
                    <div class="logo-labels">
                        <div class="main-label footer-label comic-neue">DOGECOIN</div>
                    </div>
                </div>
                <p style="padding-top: 10px" class="comic-neue">{{i18n "footer[text1]" }}</p>
            </div>
            <div class="footer-column">
                <a class="footer-title comic-neue-bold">{{i18n "footer[legal]" }}</a>
                {{- with .Site.Params.footerLegal }}
                    {{ range . -}}
                    <li><a href="{{ .url | relLangURL }}" >{{ .name }}</a></li>
                    {{- end -}}

                {{- end }}
            </div>
            <div class="footer-column">
                <a class="footer-title comic-neue-bold">{{i18n "footer[sitemap]" }}</a>
                {{ range .Site.Menus.main -}}
                <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
                {{- end }}
            </div>
            <div class="footer-column">
                <a class="footer-title comic-neue-bold">{{i18n "footer[foundation]" }}</a>
                {{- with .Site.Params.footerFoundation }}
                    {{ range . -}}
                        <li><a href="{{ .url }}" >{{ .name }}</a></li>
                    {{- end -}}

                {{- end }}
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer__inner">
            <div class="footer__content" style="display: block; text-align: center">
                <div class="row">
                {{with .Site.Params.footer.topText}}
                    <div class="text-wrap footer-credits comic-neue">
                        {{ range . }}<span>{{ . | safeHTML}}</span> {{ end }}
                    </div>
                {{ end }}
                {{with .Site.Params.footer.bottomText}}
                    <div class="text-wrap footer-credits comic-neue">
                        {{ range . }}<span>{{ . | safeHTML}}</span> {{ end }}
                    </div>
                {{ end }}
                <p style="text-align: center" class="comic-neue">© 2013-{{ now.Year }} | {{i18n "footer[copyright]" }}</p>
                </div>
            </div>
        </div>
    </div>

</footer>
<div class="modal fade" id="DogecoinNodes" tabindex="-1" aria-labelledby="DogecoinNodes" aria-hidden="true" style="padding-top: 75px;">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #ffc107">
        <h1 class="modal-title fs-5" id="DogecoinNodes" style="margin:initial; color: #000"><i class="fa-solid fa-paw"></i> Much Dogecoin Nodes</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="padding: 0px">
          <iframe src="https://what-is-dogecoin.com/foundation/nodes/" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Much Loading Nodes…</iframe>
      </div>
    </div>
  </div>
</div>