<div class="locale" style="margin-left: 0px; margin-right: 10px">
<a href="{{ .Permalink }}">
    <div class="current-locale">
      {{ if eq (.Lang) "pt-pt"}}
        <span class="flag flag-icon flag-icon-pt"></span>
          {{ else }}
        <span class="flag flag-icon flag-icon-{{ index $.Site.Data.langFlags (.Lang) }}" ></span>
          {{ end }}
        <span class="badge bg-dark text-light comic-neue">{{(.Lang)}}</span>
        <a class="icon">▼</a>
    </div>
</a>
    <div class="locale-list" style="margin-top: -1px !important">
        {{ range .Translations}}
<a href="{{ .Permalink }}">
          {{ if eq (.Lang) "pt-pt"}}
          <div class="lang">
              <span class="flag flag-icon flag-icon-pt"></span>
              <span class="badge bg-dark text-light comic-neue">{{(.Lang)}}</span>
          </div>
          {{ else }}
          <div class="lang">
              <span class="flag flag-icon flag-icon-{{ index $.Site.Data.langFlags (.Lang) }}"></span>
              <span class="badge bg-dark text-light comic-neue">{{(.Lang)}}</span>
          </div>
          {{ end }}
</a>
        {{ end }}
    </div>
</div>
