<nav class="menu">
  <ul class="menu__inner">
    {{ range .Site.Menus.main -}} {{ if .Children }}
    <li class="tooltip" role="tooltip" style="opacity: 1">
      <span
        ><a href="{{ .URL | relLangURL }}">{{ .Name }}</a
        ><span class="caret">&blacktriangledown;</span></span
      >
      <div class="tooltip-content">
        <div class="tooltip-body">
          {{ range .Children -}}
          <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
          {{- end }}
        </div>
      </div>
    </li>
    {{ else }}
    <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
    {{ end }} {{- end }}
  </ul>
</nav>
