<style type="text/css">
.dogecoinswag{
  display: none;
}

@media (max-width:960px) {
.menu{
   width: 100% !important;
}
.menu__inner a{
  font-size: 2rem !important;
}
.dogecoinswag{
  display: inherit;
}
.dogecoinswagicon{
  display: none;
}

}
.fa-shirt {
  color: rgba(204, 204, 204, 1) !important;
}
.fa-shirt:hover {
  color: #ffc107 !important;
}
.dogeathon{
  color: rgba(51, 51, 51, 1);
}
.dogeathon:hover{
  color: rgba(51, 51, 51, 1) !important;
}
</style>
<nav class="menu">
  <ul class="menu__inner">
    {{ range .Site.Menus.main -}} {{ if .Children }}
    <li class="tooltip" role="tooltip opacity1">
      <span
        ><a href="{{ .URL | relLangURL }}" class="comic-neue tooltip-body-sub">{{ .Name }}</a
        ><span class="caret">&blacktriangledown;</span></span
      >
      <div class="tooltip-content">
        <div class="tooltip-body">
          {{ range .Children -}}
          <a href="{{ .URL | relLangURL }}" class="comic-neue tooltip-body-sub">{{ .Name }}</a>
          {{- end }}
        </div>
      </div>
    </li>
    {{ else }}
    <li><a href="{{ .URL | relLangURL }}" class="comic-neue tooltip-body-sub">{{ .Name }}</a></li>
    {{ end }} {{- end }}
    <!--<a href="/dogeathon" class="dogeathon"><li style="background-image: url(/assets/images/hackathon.png); background-size: contain; background-repeat: no-repeat; background-color: #FFAA20; border-radius: 25px; padding: 5px 10px 5px 35px">Dogeathon</li></a>-->
    <li><a href="https://dogecoinswag.store/" class="comic-neue tooltip-body-sub" target="_blank" ><i class="fa-solid fa-shirt dogecoinswagicon"></i> <span class="dogecoinswag"> Dogecoin<span style="color: rgba(255, 0, 153, 1)">Swag</span></span></a></li>
  </ul>
</nav>