<style type="text/css">
.nav-pills .nav-link, .nav-pills .show>.nav-link {
    color: #000;
    border-bottom: 1px #ccc solid;
    border-radius: 0px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #D7AC47;
    font-weight: bold;
    background-color: transparent;
}
.accordion-button {
    background-color: #FAFAFA;
}
.accordion-item{
  border: none;
}
.accordion-button:not(.collapsed){
    background-color: #FAFAFA;
    color: #000;
    box-shadow: none;
}

.accordion-button:focus{
 border: none;
 box-shadow: none;
}
.accordion-body{
  background-color: #FAFAFA;
  color: #666666;
}
.accordion-button::before {
    background-image: url(assets/images/23.png);
    background-repeat: no-repeat;
    transition: transform 0.2s ease-in-out;
    position: relative;
    background-position: left;
}
.accordion-button::after {
    background-image: url(assets/images/23.png);
    position: relative;
    background-position: left;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(assets/images/24.png);
    position: relative;
    background-position: left;
}
.view_all_button{
   border: 1px solid #DFC789;
   border-radius: 20px;
   background-color: #DFC789;
   width: 200px;
   margin: auto;
   padding: 10px;
   top: 20px;
   position: relative;
}

.resources-top{
   padding-top: 100px !important;
   padding-bottom: 0px !important;
   margin-bottom: 100px !important;
}
a{
 color: rgba(0, 0, 0, 1) !important;
}
a:hover{
  font-weight: bold !important;
}
</style>
<div id="resources" class="resources-top">
  <!-- faq tabbing section -->
  <div class="faq_tabbing_section py-100" id="dogepedia">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-3 my-auto">
          <div class="dogepdia_img ms-m150">
            <img src="assets/images/faq_book_image.png" alt="faq book image">
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-9">
          <div class="d-block d-md-flex align-items-start faq_tabbing_options ps-3">
            <div class="nav flex-column nav-pills me-5 pe-2 my-auto" id="v-pills-tab" role="tablist"
              aria-orientation="vertical">
              <button class="nav-link active color232536 comic font22 text-start" id="v-pills-home-tab"
                data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab"
                aria-controls="v-pills-home" aria-selected="true">FAQs</button>
              <button class="nav-link color232536 comic font22 text-start" id="v-pills-profile-tab"
                data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab"
                aria-controls="v-pills-profile" aria-selected="false">Resources</button>
              <button class="nav-link color232536 comic font22 text-start" id="v-pills-messages-tab"
                data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab"
                aria-controls="v-pills-messages" aria-selected="false">How To’s</button>
              <button class="nav-link color232536 comic font22 text-start" id="v-pills-settings-tab"
                data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab"
                aria-controls="v-pills-settings" aria-selected="false">Documentation</button>
            </div>
            <div class="tab-content all_tabs_content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                aria-labelledby="v-pills-home-tab">
                <div class="accordion" id="accordionExample1">
                  <div class="accordion-item">
                    <div class="accordion-header" id="headingOne">
                      <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        What is Dogecoin?
                      </button>
                    </div>
                    <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne"
                      data-bs-parent="#accordionExample1">
                      <div class="accordion-body">
                        Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri. Ei justo
                        complectitur duo. Ei mundi solet utos soletu possit quo. Sea cu justo laudem.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <div class="accordion-header" id="headingTwo">
                      <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        I sent my Dogecoin to wrong address,
                        where can you help in this case?
                      </button>
                    </div>
                    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
                      data-bs-parent="#accordionExample1">
                      <div class="accordion-body">
                        Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri. Ei justo
                        complectitur duo. Ei mundi solet utos soletu possit quo. Sea cu justo laudem.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <div class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        What do you mean by "decentralised"?
                      </button>
                    </div>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                      data-bs-parent="#accordionExample1">
                      <div class="accordion-body">
                        Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri. Ei justo
                        complectitur duo. Ei mundi solet utos soletu possit quo. Sea cu justo laudem.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <div class="accordion-header" id="headingfour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                        How can i setup my full node?
                      </button>
                    </div>
                    <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour"
                      data-bs-parent="#accordionExample1">
                      <div class="accordion-body">
                        Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri. Ei justo
                        complectitur duo. Ei mundi solet utos soletu possit quo. Sea cu justo laudem.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <div class="accordion" id="accordionExample2">
                  <div class="accordion-item">
                    <div class="accordion-header" id="headingOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        What is Dogecoin?
                      </button>
                    </div>
                    <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne"
                      data-bs-parent="#accordionExample2">
                      <div class="accordion-body">
                        Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri. Ei justo
                        complectitur duo. Ei mundi solet utos soletu possit quo. Sea cu justo laudem.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <div class="accordion-header" id="headingTwo">
                      <button class="accordion-button " type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        I sent my Dogecoin to wrong address,
                        where can you help in this case?
                      </button>
                    </div>
                    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
                      data-bs-parent="#accordionExample2">
                      <div class="accordion-body">
                        Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri. Ei justo
                        complectitur duo. Ei mundi solet utos soletu possit quo. Sea cu justo laudem.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <div class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        What do you mean by "decentralised"?
                      </button>
                    </div>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                      data-bs-parent="#accordionExample2">
                      <div class="accordion-body">
                        Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri. Ei justo
                        complectitur duo. Ei mundi solet utos soletu possit quo. Sea cu justo laudem.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <div class="accordion-header" id="headingfour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                        How can i setup my full node?
                      </button>
                    </div>
                    <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour"
                      data-bs-parent="#accordionExample2">
                      <div class="accordion-body">
                        Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri. Ei justo
                        complectitur duo. Ei mundi solet utos soletu possit quo. Sea cu justo laudem.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <div class="accordion" id="accordionExample3">
                  <div class="accordion-item">
                    <div class="accordion-header" id="headingOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        What is Dogecoin?
                      </button>
                    </div>
                    <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne"
                      data-bs-parent="#accordionExample3">
                      <div class="accordion-body">
                        Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri. Ei justo
                        complectitur duo. Ei mundi solet utos soletu possit quo. Sea cu justo laudem.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <div class="accordion-header" id="headingTwo">
                      <button class="accordion-button " type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        I sent my Dogecoin to wrong address,
                        where can you help in this case?
                      </button>
                    </div>
                    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
                      data-bs-parent="#accordionExample3">
                      <div class="accordion-body">
                        Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri. Ei justo
                        complectitur duo. Ei mundi solet utos soletu possit quo. Sea cu justo laudem.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <div class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        What do you mean by "decentralised"?
                      </button>
                    </div>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                      data-bs-parent="#accordionExample3">
                      <div class="accordion-body">
                        Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri. Ei justo
                        complectitur duo. Ei mundi solet utos soletu possit quo. Sea cu justo laudem.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <div class="accordion-header" id="headingfour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                        How can i setup my full node?
                      </button>
                    </div>
                    <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour"
                      data-bs-parent="#accordionExample3">
                      <div class="accordion-body">
                        Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri. Ei justo
                        complectitur duo. Ei mundi solet utos soletu possit quo. Sea cu justo laudem.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <div class="accordion" id="accordionExample4">
                  <div class="accordion-item">
                    <div class="accordion-header" id="headingOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        What is Dogecoin?
                      </button>
                    </div>
                    <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne"
                      data-bs-parent="#accordionExample4">
                      <div class="accordion-body">
                        Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri. Ei justo
                        complectitur duo. Ei mundi solet utos soletu possit quo. Sea cu justo laudem.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <div class="accordion-header" id="headingTwo">
                      <button class="accordion-button " type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        I sent my Dogecoin to wrong address,
                        where can you help in this case?
                      </button>
                    </div>
                    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
                      data-bs-parent="#accordionExample4">
                      <div class="accordion-body">
                        Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri. Ei justo
                        complectitur duo. Ei mundi solet utos soletu possit quo. Sea cu justo laudem.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <div class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        What do you mean by "decentralised"?
                      </button>
                    </div>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                      data-bs-parent="#accordionExample4">
                      <div class="accordion-body">
                        Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri. Ei justo
                        complectitur duo. Ei mundi solet utos soletu possit quo. Sea cu justo laudem.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <div class="accordion-header" id="headingfour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                        How can i setup my full node?
                      </button>
                    </div>
                    <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour"
                      data-bs-parent="#accordionExample4">
                      <div class="accordion-body">
                        Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri. Ei justo
                        complectitur duo. Ei mundi solet utos soletu possit quo. Sea cu justo laudem.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- vie all button -->
  <div class="view_all_button">
    <div class="text-center">
      <a href="{{ .Params.url | absURL }}/dogepedia/"
        class="view_all_btn d-inline-block text-decoration-none fw-normal">VIEW ALL</a>
    </div>
  </div>
  <div class="container">

    <!-- <div class="row">
      <div class="col-lg-4 pb-4">
        <div class="row">
          <img class="img-fluid" src="assets/images/22.png" />
        </div>
        <div class="row">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-faq-list" data-bs-toggle="list"
              href="#list-faq" role="tab" aria-controls="list-faq">FAQs</a>
            <a class="list-group-item list-group-item-action" id="list-resources-list" data-bs-toggle="list"
              href="#list-resources" role="tab" aria-controls="list-resources">Resources</a>
            <a class="list-group-item list-group-item-action" id="list-howtos-list" data-bs-toggle="list"
              href="#list-howtos" role="tab" aria-controls="list-howtos">How To's</a>
            <a class="list-group-item list-group-item-action" id="list-documentation-list" data-bs-toggle="list"
              href="#list-documentation" role="tab" aria-controls="list-documentation">Documentation</a>
          </div>
        </div>
      </div>
      <div class="col-lg-8 pb-4">
        <div class="tab-content float-start" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-faq" role="tabpanel" aria-labelledby="list-faq-list">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    What is Dogecoin?
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse
                    plugin adds the appropriate classes that we use to style each element. These classes control the
                    overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of
                    this with custom CSS or overriding our default variables. It's also worth noting that just about any
                    HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    I sent my Dogecoin to the wrong address where can you help in this case?
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong> It is hidden by default, until the
                    collapse plugin adds the appropriate classes that we use to style each element. These classes
                    control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                    modify any of this with custom CSS or overriding our default variables. It's also worth noting that
                    just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit
                    overflow.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    What do you mean by "decentralized"?
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                    collapse plugin adds the appropriate classes that we use to style each element. These classes
                    control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                    modify any of this with custom CSS or overriding our default variables. It's also worth noting that
                    just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit
                    overflow.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    How can I setup my full node?
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                    collapse plugin adds the appropriate classes that we use to style each element. These classes
                    control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                    modify any of this with custom CSS or overriding our default variables. It's also worth noting that
                    just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit
                    overflow.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="list-resources" role="tabpanel" aria-labelledby="list-resources-list">Resources
          </div>
          <div class="tab-pane fade" id="list-howtos" role="tabpanel" aria-labelledby="list-howtos-list">How-Tos</div>
          <div class="tab-pane fade" id="list-documentation" role="tabpanel" aria-labelledby="list-documentation-list">
            Documentation</div>
        </div>
      </div>
    </div> -->
  </div>
</div>

<!-- <div class="resources-bottom">
  <div class="container">
    <div class="row">
      <h2 class="fs-2 mb-5">Find out more about Dogecoin</h2>
      <div class="col-lg-3">
        <div class="card border-0" style="background-color: #fcf4df; width: 100%; margin-bottom: 4vh">
          <div class="card-body">
            <img class="p-2" src="assets/images/26.png" height="auto" width="98px" alt="...">
            <h5 class="card-title">Foundation</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#">Visit Site -></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card border-0 " style="background-color: #fcf4df; width: 100%; margin-bottom: 4vh">
          <div class="card-body">
            <img class="p-2" src="assets/images/27.png" height="auto" width="98px" alt="...">
            <h5 class="card-title">Branding</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#">Visit Site -></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card border-0" style="background-color: #fcf4df; width: 100%; margin-bottom: 4vh">
          <div class="card-body">
            <img class="p-2" src="assets/images/28.png" height="auto" width="98px" alt="...">
            <h5 class="card-title">News</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#">Visit Site -></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card border-0" style="background-color: #fcf4df; width: 100%; margin-bottom: 4vh">
          <div class="card-body">
            <img class="p-2" src="assets/images/29.png" height="auto" width="98px" alt="...">
            <h5 class="card-title">Press Release</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#">Visit Site -></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- find out more about dogecoin -->
<section class="more_abt_dogecoin">
  <div class="container">
    <div class="text-center pb-70">
      <h3 class="montserrat fw-bold font35 color232536">Find out more about Dogecoin</h3>
    </div>
    <div class="row">
      <div class="col-6 col-md-6 col-lg-3">
        <div class="more_abt_cnt_box text-start" data-aos="fade-up" data-aos-offset="100" data-aos-delay="10"
          data-aos-duration="1000">
          <img src="assets/images/foundation-icon.png" alt="foundation icon">
          <h5 class="font20 semibold poppins color2a2a2a pt-3">Foundation</h5>
          <p class="font16 lato fw-normal color2a2a2a line-height-25 pb-2">Lorem ipsum dolor thus demo text and here.
          </p>
          <a href="javascript:void(0);"
            class="color2a2a2a lato fw-normal font16 text-decoration-none border_btm_1 pb-2 d-inline-block">Visit
            Site<span class="ms-3 d-inline-block"><img src="assets/images/next-arrow-icon.png"
                alt="next arrow icon"></span></a>
        </div>
      </div>
      <div class="col-6 col-md-6 col-lg-3">
        <div class="more_abt_cnt_box text-start" data-aos="fade-up" data-aos-offset="100" data-aos-delay="10"
          data-aos-duration="1000">
          <img src="assets/images/branding-icon.png" alt="foundation icon">
          <h5 class="font20 semibold poppins color2a2a2a pt-3">Branding</h5>
          <p class="font16 lato fw-normal color2a2a2a line-height-25 pb-2">Lorem ipsum dolor thus demo text and here.
          </p>
          <a href="javascript:void(0);"
            class="color2a2a2a lato fw-normal font16 text-decoration-none border_btm_1 pb-2 d-inline-block">Download<span
              class="ms-3 d-inline-block"><img src="assets/images/next-arrow-icon.png" alt="next arrow icon"></span></a>
        </div>
      </div>
      <div class="col-6 col-md-6 col-lg-3">
        <div class="more_abt_cnt_box text-start" data-aos="fade-up" data-aos-offset="100" data-aos-delay="10"
          data-aos-duration="1000">
          <img src="assets/images/new-icon.png" alt="foundation icon">
          <h5 class="font20 semibold poppins color2a2a2a pt-3">News</h5>
          <p class="font16 lato fw-normal color2a2a2a line-height-25 pb-2">Lorem ipsum dolor thus demo text and here.
          </p>
          <a href="javascript:void(0);"
            class="color2a2a2a lato fw-normal font16 text-decoration-none border_btm_1 pb-2 d-inline-block">Visit
            Site<span class="ms-3 d-inline-block"><img src="assets/images/next-arrow-icon.png"
                alt="next arrow icon"></span></a>
        </div>
      </div>
      <div class="col-6 col-md-6 col-lg-3">
        <div class="more_abt_cnt_box text-start" data-aos="fade-up" data-aos-offset="100" data-aos-delay="10"
          data-aos-duration="1000">
          <img src="assets/images/press-releases-icon.png" alt="foundation icon">
          <h5 class="font20 semibold poppins color2a2a2a pt-3">Press Releases</h5>
          <p class="font16 lato fw-normal color2a2a2a line-height-25 pb-2">Lorem ipsum dolor thus demo text and here.
          </p>
          <a href="javascript:void(0);"
            class="color2a2a2a lato fw-normal font16 text-decoration-none border_btm_1 pb-2 d-inline-block">Visit
            Site<span class="ms-3 d-inline-block"><img src="assets/images/next-arrow-icon.png"
                alt="next arrow icon"></span></a>
        </div>
      </div>
    </div>
  </div>
</section>