<style type="text/css">
.card-body{
  min-height: 350px;
}

</style>
<div id="resources">
  <div class="resources-top pb-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6 resources-image">
          <img class="img-fluid" style="width: 100% !important" src="/assets/images/22.png" />
        </div>
        <div class="col-lg-1 col-sm-6 resources-image">{{ partial "tablist_menu.html" . }}</div>
        <div class="col-lg-8 col-sm-12">
          <div>{{ partial "tablist_item.html" . }}</div>
        </div>
      </div>
    </div>
    <!-- view all button -->
      <a
        href="{{ .Params.url | absURL }}/dogepedia/"
        class="text-decoration-none comic-neue"
        >
    <button class="dogepedia-button rounded-pill" style="width: 200px; height: 60px; font-size: 18px; top: 4vh !important">
{{i18n "resources[viewall]" }}
    </button></a
      >
  </div>
  <div class="resources-bottom pb-2">
    <div class="container">
      <div class="row">
        <h2 class="title fs-2 mb-5 text-dark comic-neue">{{i18n "resources[title]" }}</h2>
        <div class="col-12 col-md-6 col-lg-3">
          <div
            class="card border-0 find-more-card"
            data-aos="fade-up"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="1000"
            style="background-color: #fcf4df; width: 100%; margin-bottom: 4vh"
          >
            <div class="card-body">
              <img
                class="p-2"
                src="/assets/images/26.png"
                height="auto"
                width="98px"
                alt="..."
              />
              <div class="find-more-text">
                <h5 class="card-title comic-neue">{{i18n "resources[title1]" }}</h5>
                <p class="card-text comic-neue">
                  {{i18n "resources[text1]" }}
                </p>
                <a href="https://foundation.dogecoin.com/" class="comic-neue">{{i18n "resources[visit]" }} -></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div
            class="card border-0  find-more-card"
            data-aos="fade-up"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="1000"
            style="background-color: #fcf4df; width: 100%; margin-bottom: 4vh"
          >
            <div class="card-body">
              <img
                class="p-2"
                src="/assets/images/27.png"
                height="auto"
                width="98px"
                alt="..."
              />
              <div class="find-more-text">
                <h5 class="card-title comic-neue">{{i18n "resources[title2]" }}</h5>
                <p class="card-text comic-neue">
                  {{i18n "resources[text2]" }}
                </p>
                <a href="https://foundation.dogecoin.com/blog/" class="comic-neue">{{i18n "resources[visit]" }} -></a>
             </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div
            class="card border-0 find-more-card"
            data-aos="fade-up"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="1000"
            style="background-color: #fcf4df; width: 100%; margin-bottom: 4vh"
          >
            <div class="card-body">
              <img
                class="p-2"
                src="/assets/images/28.png"
                height="auto"
                width="98px"
                alt="..."
              />
              <div class="find-more-text">
                <h5 class="card-title comic-neue">{{i18n "resources[title3]" }}</h5>
                <p class="card-text comic-neue">
                  {{i18n "resources[text3]" }}
                </p>
                <a href="https://foundation.dogecoin.com/announcements/" class="comic-neue">{{i18n "resources[visit]" }} -></a>
            </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div
            class="card border-0 find-more-card"
            data-aos="fade-up"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="1000"
            style="background-color: #fcf4df; width: 100%; margin-bottom: 4vh"
          >
            <div class="card-body">
              <img
                class="p-2"
                src="/assets/images/29.png"
                height="auto"
                width="98px"
                alt="..."
              />
              <div class="find-more-text">
                <h5 class="card-title comic-neue">{{i18n "resources[title4]" }}</h5>
                <p class="card-text comic-neue">
                  {{i18n "resources[text4]" }}
                </p>
                <a href="trademarks/" class="comic-neue">{{i18n "resources[visit]" }} -></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>bbbb
