<div id="resources" class="resources-top">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <img src="assets/images/22.png" />

      </div>
      <div class="col-3">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-faq-list" data-bs-toggle="list"
            href="#list-faq" role="tab" aria-controls="list-faq">FAQs</a>
          <a class="list-group-item list-group-item-action" id="list-resources-list" data-bs-toggle="list"
            href="#list-resources" role="tab" aria-controls="list-resources">Resources</a>
          <a class="list-group-item list-group-item-action" id="list-howtos-list" data-bs-toggle="list"
            href="#list-howtos" role="tab" aria-controls="list-howtos">How To's</a>
          <a class="list-group-item list-group-item-action" id="list-documentation-list" data-bs-toggle="list"
            href="#list-documentation" role="tab" aria-controls="list-documentation">Documentation</a>
        </div>
      </div>
      <div class="col-6">
        <div class="tab-content float-start" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-faq" role="tabpanel" aria-labelledby="list-faq-list">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    What is Dogecoin?
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse
                    plugin adds the appropriate classes that we use to style each element. These classes control the
                    overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of
                    this with custom CSS or overriding our default variables. It's also worth noting that just about any
                    HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    I sent my Dogecoin to the wrong address where can you help in this case?
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong> It is hidden by default, until the
                    collapse plugin adds the appropriate classes that we use to style each element. These classes
                    control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                    modify any of this with custom CSS or overriding our default variables. It's also worth noting that
                    just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit
                    overflow.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    What do you mean by "decentralized"?
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                    collapse plugin adds the appropriate classes that we use to style each element. These classes
                    control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                    modify any of this with custom CSS or overriding our default variables. It's also worth noting that
                    just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit
                    overflow.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    How can I setup my full node?
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                    collapse plugin adds the appropriate classes that we use to style each element. These classes
                    control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                    modify any of this with custom CSS or overriding our default variables. It's also worth noting that
                    just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit
                    overflow.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="list-resources" role="tabpanel" aria-labelledby="list-resources-list">prof
          </div>
          <div class="tab-pane fade" id="list-howtos" role="tabpanel" aria-labelledby="list-howtos-list">message</div>
          <div class="tab-pane fade" id="list-documentation" role="tabpanel" aria-labelledby="list-documentation-list">
            settings</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="resources-bottom">
  <div class="container">
    <div class="row">
      <h2 class="fs-2 mb-5">Find out more about Dogecoin</h2>
      <div class="col-sm-3">
        <div class="card border-0" style="background-color: #fcf4df;">
          <div class="card-body">
            <img class="p-2" src="assets/images/26.png" height="auto" width="98px" alt="...">
            <h5 class="card-title">Foundation</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#">Visit Site -></a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card border-0 " style="background-color: #fcf4df;">
          <div class="card-body">
            <img class="p-2" src="assets/images/27.png" height="auto" width="98px" alt="...">
            <h5 class="card-title">Branding</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#">Visit Site -></a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card border-0" style="background-color: #fcf4df;">
          <div class="card-body">
            <img class="p-2" src="assets/images/28.png" height="auto" width="98px" alt="...">
            <h5 class="card-title">News</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#">Visit Site -></a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card border-0" style="background-color: #fcf4df;">
          <div class="card-body">
            <img class="p-2" src="assets/images/29.png" height="auto" width="98px" alt="...">
            <h5 class="card-title">Press Release</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#">Visit Site -></a>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <img src="" />
      </div>
      <div class="col-sm-3">
        <img src="" />
      </div>
      <div class="col-sm-3">
        <img src="" />
      </div>
      <div class="col-sm-3">
        <img src="" />
      </div>
    </div>
  </div>
</div>