<section class="dogepedia box">
  <div class="tab  list-group-flush comic-neue-bold" style="width: 100%">
    <button class="tablinks active text-dark" onclick="openToggle(event, 'FAQ')">
      {{i18n "tabmenu[faq]"}}
    </button>
    <button class="tablinks" onclick="openToggle(event, 'Resources')">
      {{i18n "tabmenu[resources]"}}
    </button>
    <button class="tablinks" onclick="openToggle(event, 'HowTo')">
      {{i18n "tabmenu[how-to]"}}
    </button>
    <button class="tablinks" onclick="openToggle(event, 'Documentation')">
      {{i18n "tabmenu[documentation]"}}
    </button>
  </div>
</section>

<script>
  function openToggle(evt, type) {
    var i, tabcontent, tablinks;

    tabcontent = document.getElementsByClassName("tabcontent");

    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    tablinks = document.getElementsByClassName("tablinks");

    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    document.getElementById(type).style.display = "block";
    evt.currentTarget.className += " active";
  }

  //for collapsible
  var collapsible = document.getElementsByClassName("collapsible");
  var i;
  for (i = 0; i < collapsible.length; i++) {
    collapsible[i].addEventListener("click", function () {
      this.classList.toggle("active");

      var content = this.nextElementSibling;

      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
</script>