<div id="wallets" class="wallet wallets-bg wallets-bg-r">
    <div class="position-absolute top-50 start-50 translate-middle">
        <div class="row">
            <div class="col-lg-4 p-3">
                <div class="card bg-transparent border-0">
                    <div class="card-body">
                        <h2 class="card-title text-start">Wallets</h2>
                        <p class="card-text text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-3">
                <div class="card rounded-5">
                    <div class="card-body">
                        <img class="p-2" src="assets/images/10.png" height="auto" width="98px" alt="...">
                        <h5 class="card-title">MultiDoge</h5>
                        <p class="card-text text-start">MultiDoge is a "light" wallet. It syncs with the
                            blockchain by "skimming" through the blockchain, providing fast sync times.</p>
                        <div class="row">
                            <div class="col">
                                <img src="assets/images/12.png" />
                            </div>
                            <div class="col">
                                <img src="assets/images/13.png" />
                            </div>
                            <div class="col">
                                <img src="assets/images/14.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-3">
                <div class="card">
                    <div class="card-body">
                        <img class="p-2" src="assets/images/11.png" height="auto" width="98px" alt="...">

                        <h5 class="card-title">Dogecoin Core</h5>
                        <p class="card-text text-start">Dogecoin Core, on the other hand, is a "full" wallet. It
                            syncs by downloading it, providing a solid-working Dogecoin wallet.</p>
                        <div class="row">
                            <div class="col">
                                <img src="assets/images/12.png" />
                            </div>
                            <div class="col">
                                <img src="assets/images/13.png" />
                            </div>
                            <div class="col">
                                <img src="assets/images/14.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6 align-middle">
            <p class="text-start fs-1">Android Wallet</p>
            <p class="text-start fs-4">Lorem ipsum dolor st amet, consetetur adipiscing elit, sed dodi eiusmod tempor
                incididunt ut labore dolore magna aliqua. Ut enim ad minim</p>
            <img src="assets/images/15.png" />
        </div>
        <div class="col-6">
            <img src="assets/images/16.png" />
        </div>
    </div>
</div>