<div id="what-is-dogecoin" class="pt-5">
  <div class="container p-5">
    <div class="row">
      <div class="col-md-6">
        <div class="kabosu-content">
        <h2 class="title display-5 text-start text-dark comic-neue">{{i18n "whatisdogecoin[title]" }}</h2>
          <p class="fs-3 lh-md comic-neue">
            {{i18n "whatisdogecoin[text1]" }}
            <span class="fs-3 fw-bold text-warning comic-neue">{{i18n "whatisdogecoin[text2]" }}</span>
          </p>
          <p class="lh-md comic-neue">
            {{i18n "whatisdogecoin[lead]" }} {{i18n "whatisdogecoin[lead][text1]" }}

            <a href="https://foundation.dogecoin.com/manifesto/" class="comic-neue" >{{i18n "whatisdogecoin[lead][text2]" }}</a>
            {{i18n "whatisdogecoin[lead][text3]" }}
            <a href="dogepedia/articles/what-is-dogecoin/"class="comic-neue" >{{i18n "whatisdogecoin[here]" }}</a>


          </p>
        </div>
      </div>
      <div class="col-md-6 parent">
        <div>
          <img class="under" src="/assets/images/3.png" />
          <img class="over" src="/assets/images/doge.webp" />
        </div>
      </div>
    </div>




  <div class="container p-4" style="padding-left: 0px !important;">
      <div class="row">
        <div class="col">
          <h2 class="title card-title text-start text-dark comic-neue">Getting started</h2>
        </div>
      </div>
   </div>






    <div class="row">
      <div
        class="col-sm-4 parent-numbers"
        data-aos="fade-left"
        data-aos-offset="100"
        data-aos-delay="10"
        data-aos-duration="1000"
      >

        <h3><span class="badge bg-secondary">01</span> {{i18n "whatisdogecoin[choosewallet][title1]" }}<br>&nbsp;</h3>
        <p>
          {{i18n "whatisdogecoin[choosewallet][text1]" }}
        </p>
        <a href="/wallets" class="comic-neue btn btn-outline-secondary">{{i18n "whatisdogecoin[here]" }}</a>
      </div>
      <div
        class="col-sm-4 parent-numbers"
        data-aos="fade-right"
        data-aos-offset="100"
        data-aos-delay="10"
        data-aos-duration="1000"
      >
        <h3><span class="badge bg-secondary">02</span> {{i18n "whatisdogecoin[choosewallet][title2]" }}</h3>
        <p>
          {{i18n "whatisdogecoin[choosewallet][text2]" }}
        </p>
        <a href="/dogepedia/articles/how-do-i-get-a-wallet/" class="comic-neue btn btn-outline-secondary">{{i18n "whatisdogecoin[guide]" }}</a>
      </div>
      <div
        class="col-sm-4 parent-numbers"
        data-aos="fade-left"
        data-aos-offset="100"
        data-aos-delay="10"
        data-aos-duration="1000"
      >
        <h3><span class="badge bg-secondary">03</span> {{i18n "whatisdogecoin[choosewallet][title3]" }}<br>&nbsp;</h3>
        <p>
          {{i18n "whatisdogecoin[choosewallet][text3]" }}
        </p>
        <a href="dogepedia/articles/get-dogecoin/" class="comic-neue btn btn-outline-secondary" >{{i18n "whatisdogecoin[learnmore]" }}</a>
      </div>
    </div>
  </div>
</div>
