<div id="what-is-dogecoin">
    <div class="container p-5">
        <div class="row">
            <div class="col-md-6">
                <div class="kabosu-content">
                <p class="fs-3 lh-md">An open source peer-to-peer digital currency, favored
                    by <span class="fs-3 fw-bold text-warning">Shiba Inus worldwide</span>
                </p>
                <p class="lh-md">
                    <span class="lead">Lorem ipsum dolor</span> sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris neisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
</div>
                <div class="col-md-6 parent">
                    <div>
                        <img class="under" src="assets/images/3.png" />
                        <img class="over" src="assets/images/2.png" />
                    </div>
</div>
        </div>
</div>
<div class="container">
        <div class="row">
            <div class="col-sm-4 parent-numbers" data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="1000">
                    <img class="img-fluid under-numbers opacity-80" src="assets/images/4.png" />
                    <h3 class="display-6 over-numbers">choose your wallet</h3>
                <p class="fs-6 text-numbers">A Wallet is used for holding your Dogecoins directly on
                    your Computer/Smartphone. Pick a wallet <a href="">here</a></p>
            </div>
            <div class="col-sm-4 parent-numbers" data-aos="fade-right"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="1000">
                    <img class="img-fluid under-numbers opacity-80" src="assets/images/5.png" />
                    <h3 class="display-6 over-numbers">configure your wallet</h3>
                <p class="fs-6 text-numbers">After downloading, you can configure your walet according
                    to our <a href="">guide</a></p>
            </div>
            <div class="col-sm-4 parent-numbers" data-aos="fade-left"
            data-aos-offset="100"
            data-aos-delay="10"
            data-aos-duration="1000">
                    <img class="img-fluid under-numbers opacity-80" src="assets/images/6.png" />
                <h3 class="display-6 over-numbers">get some dogecoin</h3>
                <p class="fs-6 text-numbers">You can buy them, trade for them, get tipped, "mine" them,
                    and more they are suprisingly endless!</p>
            </div>
        </div>

    </div>
</div>