<div id="what-is-dogecoin" class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="float-start fs-1 text-wrap text-start">An open source peer-to-peer digital currency, favored
                    by
                </p>
                <p class="fs-2 fw-bold text-warning text-start">Shiba Inus worldwide</p>
                <p class="text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris neisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-sm-6 parent">
                <img class="under" src="assets/images/3.png" />
                <img class="over" src="assets/images/2.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 parent">
                <div class="container">
                    <img class="under float-start" src="assets/images/4.png" />
                    <h3 class="fs-2 fw-bold over text-start">choose your wallet</h3>
                </div>
                <p class="fs-6 text-start">A Wallet is used for holding your Dogecoins directly on
                    your Computer/Smartphone. Pick a wallet <a href="">here</a></p>
            </div>
            <div class="col-sm-4 parent">
                <div class="container">
                    <img class="under float-start" src="assets/images/5.png" />
                    <h3 class="fs-2 fw-bold over text-start">configure your wallet</h3>
                </div>
                <p class="fs-6 text-wrap text-start">After downloading, you can configure your walet according
                    to our <a href="">guide</a></p>
            </div>
            <div class="col-sm-4 parent">
                <div class="container">
                    <img class="under float-start" src="assets/images/6.png" />
                </div>
                <h3 class="fs-2 fw-bold over text-start">get some dogecoin</h3>
                <p class="fs-6 text-wrap text-start">You can buy them, trade for them, get tipped, "mine" them,
                    and more they are suprisingly endless!</p>
            </div>
        </div>

    </div>
</div>