{{ define "body" }}
  <body class="home"  style="overflow: hidden; padding: 20px;">
{{ end }}
{{ define "main" }}
<style type="text/css">
.moon {
  position: absolute;
  width: 200px;
  height: 200px;
  background: #c7cbd0;
  border-radius: 50%;
  box-shadow: inset -25px 0px 0 0px #9098a1;
  transition: transform 0.2s ease-in-out;
  z-index: 69;
  left: 0%;
  -webkit-animation: infinite ;
  -webkit-animation-name: moon;
  -webkit-animation-duration: 20s;
}

.moon:hover {
  transform: scale(1.2);
}

.moon > ul > li {
  position: absolute;
  list-style: none;
  background: #737277;
  border-radius: 50%;
}
.moon > ul > li:nth-child(1) {
  left: 25px;
  top: 60px;
  width: 50px;
  height: 50px;
  box-shadow: inset 6px -2px 0 0px #414043;
}
.moon > ul > li:nth-child(2) {
  left: 150px;
  top: 50px;
  width: 25px;
  height: 25px;
  box-shadow: inset 3px -1px 0 0px #414043;
}

.moon > ul > li:nth-child(3) {
  left: 100px;
  top: 150px;
  width: 25px;
  height: 25px;
  box-shadow: inset 3px -1px 0 0px #414043;
}

.moon > ul > li:nth-child(4) {
  left: 50px;
  top: 150px;
  width: 12.5px;
  height: 12.5px;
  box-shadow: inset 2.4px -0.8px 0 0px #414043;
}

.moon > ul > li:nth-child(5) {
  left: 87.5px;
  top: 16.66666667px;
  width: 12.5px;
  height: 12.5px;
  box-shadow: inset 2.4px -0.8px 0 0px #414043;
}

.moon > ul > li:nth-child(6) {
  left: 114.28571429px;
  top: 80px;
  width: 12.5px;
  height: 12.5px;
  box-shadow: inset 2.4px -0.8px 0 0px #414043;
}

.moon > ul > li:nth-child(7) {
  left: 181.81818182px;
  top: 100px;
  width: 12.5px;
  height: 12.5px;
  box-shadow: inset 2.4px -0.8px 0 0px #414043;
}

@-webkit-keyframes moon {
  0% {
    left: 0;
    top: 0;
  }

  100% {
    left: 100%;
    top: 40%
  }
}

</style>
<div class="moon">
  <div style="position: relative; text-align: center; top: 25%; font-weight: bold;  z-index: 69; font-size: 24px; border-radius: 50px; text-shadow: 0px 0px 7px #FFFFFF; color: #000000 !important" >
    Dogecoin Prize<br>
    Starts at<br>
    Ð <span id="dogepoolmoon"></span>
    </div>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
    <!-- The video -->
    <div>
        <video id="video-header" autoplay loop muted>
            <source src="/assets/images/Header_Dogeathon.mp4" type="video/mp4">
        </video>
        <img src="/assets/images/top_fag_dogeathon.png" style="position: absolute; top: 0px; left: 0px; width: 100%">
        <div id="home" class="viewport-header">
            <div class="container">
<style type="text/css">
*{
  font-family: "Comic Neue", cursive !important;
}
.sbbox {
  top: -70px;
  text-decoration: none;
  width: 50%;
  margin: 20px auto;
  left: 65%;
  border-radius: 15px;
  background: #eee;
  color: #000;
  padding: 20px;
  text-align: left;
  font-weight: 900;
  font-family: arial;
  position: absolute;
}
.rose:hover {
  color: #DC2B4D !important;
}
.sbleft:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #eee;
  border-bottom: 15px solid #eee;
  border-top: 15px solid transparent;
  left: -16px;
  top: 60%;
}

@media (max-width:1000px) {
  .sbbox {
  top: 0px;    
    width: 90%;
     position: relative;
     margin: 20px;
     left: auto;
  }
.sbleft:after{
 display: none;
}
}
.home .dogelogo {
    padding-right: 70px;
}
.teamsoptions > li > a:hover{
  color: #000 !important;
  background-color: #FFAA20 !important;
}
.teams:hover{
 background-color: #FFFFFF !important;
}

</style>
              <div style="position: relative; z-index: 69;">
                    <div class="sbbox sbleft comic-neue">
                      <i class="fa-solid fa-earth-oceania"></i> Victoria Australia & Online<br>
                      <i class="fa-solid fa-calendar-day"></i> November 15th - 19th, 2022<br>
                      <a href="#register" class="btn btn-primary rose" style="background-color: #DC2B4D; border-color: #DC2B4D; width: 100%; border-radius: 25px; margin-top: 15px"><i class="fa-solid fa-calendar-check"></i> Much Event Register!</a>
<div class="dropdown">
  <button class="btn btn-warning dropdown-toggle teams" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%; border-radius: 25px; margin-top: 15px; background-color: #FFAA20; border-color: #FFAA20">
    <i class="fa-solid fa-paw"></i> So Teams!
  </button>
  <ul class="dropdown-menu teamsoptions" style="width: 100%">
    <li><a href="#teams" class="dropdown-item" ><i class="fa-solid fa-eye"></i> View Teams!</a></li>
    <li><a class="dropdown-item" href="https://what-is-dogecoin.com/dogeathon/?teams" onclick="document.location='#teams';" target="Iframeteams"><i class="fa-solid fa-people-group"></i> Add Team!</a></li>
  </ul>
</div>


                    </div>
                    <img class="dogelogo" src="/assets/images/australian_animation.gif" alt="Dogegecoin" />
                <h1 class="d_text_display d_span_opacity comic-neue"><span id="dynamic_d">D</span>OGEATHON</h1>
               </div>
                {{- with .Site.Params.homeSubtitle }}
<div style="min-width: 400px;">
                <div class="mt-1" style=" min-height: 20px">
                    <div class="preload comic-neue" style="">
                        <span class="subtitle poppins fw-light text-white"></span>
                        <span class="preload__letter subtitle poppins fw-light text-white">0</span>
                        <span class="preload__letter subtitle poppins fw-light text-white">1</span>
                        <span class="preload__letter subtitle poppins fw-light text-white">1</span>
                        <span class="preload__letter subtitle poppins fw-light text-white">1</span>
                        <span class="preload__letter subtitle poppins fw-light text-white">0</span>
                        <span class="preload__letter subtitle poppins fw-light text-white">1</span>
                        <span class="preload__letter subtitle poppins fw-light text-white">1</span>
                        <span class="preload__letter subtitle poppins fw-light text-white">1</span>
                        <span class="preload__letter subtitle poppins fw-light text-white"> </span>
                        <span class="preload__letter subtitle poppins fw-light text-white">0</span>
                        <span class="preload__letter subtitle poppins fw-light text-white">1</span>
                        <span class="preload__letter subtitle poppins fw-light text-white">1</span>
                        <span class="preload__letter subtitle poppins fw-light text-white">0</span>
                        <span class="preload__letter subtitle poppins fw-light text-white">1</span>
                        <span class="preload__letter subtitle poppins fw-light text-white">1</span>
                        <span class="preload__letter subtitle poppins fw-light text-white">1</span>
                        <span class="preload__letter subtitle poppins fw-light text-white">1</span>
                        <span class="preload__letter subtitle poppins fw-light text-white"> </span>
                        <span class="preload__letter subtitle poppins fw-light text-white">0</span>
                        <span class="preload__letter subtitle poppins fw-light text-white">1</span>
                        <span class="preload__letter subtitle poppins fw-light text-white">1</span>
                        <span class="preload__letter subtitle poppins fw-light text-white">1</span>
                        <span class="preload__letter subtitle poppins fw-light text-white">0</span>
                        <span class="preload__letter subtitle poppins fw-light text-white">1</span>
                        <span class="preload__letter subtitle poppins fw-light text-white">1</span>
                        <span class="preload__letter subtitle poppins fw-light text-white">1</span>
                    </div>
                </div>
</div>
                {{- end }}
            </div>
        </div>
    </div>
    <main>
        {{ partial "dogeathon_blocks.html" . }}
    <div style="width: 100vw !important"></div>
    </main>

    <script type="text/javascript">
        setTimeout(function () {
        var options = {
            preload: {
                selector: '.preload',
                itemSelector: '.preload__letter',
                text: '   a dogecoin hackathon    '
            }
        }
        var Preload = function () {
            preloadLetters = document.querySelectorAll(options.preload.itemSelector);
            text = options.preload.text.toUpperCase().split('');
            intervals = [];

            this.init = function () {
                for (var i = 0; i < text.length; i++) {
                    letterRandomize(preloadLetters[i], i);
                }
            }

            var letterRandomize = function (el, index) {
                possible = "   a dogecoin hackathon    ";
                intervals[index] = setInterval(function () {
                    el.innerHTML = possible.charAt(Math.floor(Math.random() * possible.length))
                }, 50);
                setTimeout(function () {
                    clearInterval(intervals[index]);
                    el.innerHTML = text[index];
                    el.classList.add('preload__letter--loaded');
                }, 250 * index);
            }
        }

        var p = new Preload();
        p.init();
    }, 2100);
    </script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
        // You can also pass an optional settings object
        // below listed default settings
        AOS.init({
            // Global settings:
            disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
            startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
            initClassName: 'aos-init', // class applied after initialization
            animatedClassName: 'aos-animate', // class applied on animation
            useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
            disableMutationObserver: false, // disables automatic mutations' detections (advanced)
            debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
            throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)


            // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
            offset: 120, // offset (in px) from the original trigger point
            delay: 0, // values from 0 to 3000, with step 50ms
            duration: 400, // values from 0 to 3000, with step 50ms
            easing: 'ease', // default easing for AOS animations
            once: false, // whether animation should happen only once - while scrolling down
            mirror: false, // whether elements should animate out while scrolling past them
            anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation

        });
        setTimeout(function () {
            var dogecoin_d = document.querySelector('#dynamic_d');
            dogecoin_d.innerHTML = 'Ð';
            dogecoin_d.classList.add('for_animation_class');
        }, 5500);


// Select all links with hashes
$('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
      &&
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000, function() {
          // Callback after animation
          // Must change focus!
          var $target = $(target);
          $target.focus();
          if ($target.is(":focus")) { // Checking if the target was focused
            return false;
          } else {
            $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
            $target.focus(); // Set focus again
          };
        });
      }
    }
  });

    </script>
    {{ end }}
