{{ define "body" }}

<body class="home">
    {{ end }}

    {{ define "main" }}
    <!-- The video -->
    <div>
        <video id="video-header" autoplay loop muted>
            <source src="/assets/images/Header_Video.mp4" type="video/mp4">
        </video>

        <div id="home" class="viewport-header">
            <div class="container">
                <h1>DOGECOIN</h1>
                {{- with .Site.Params.homeSubtitle }}
                <h2 class="subtitle">{{.}}</h2>
                {{- end }}
            </div>
        </div>
    </div>
    <main>
      {{ partial "whatisdogecoin.html" . }}
        <br />
      {{ partial "wallets.html" . }}
      {{ partial "community.html" . }}
        <br />
        {{ partial "resources.html" . }}
    </main>
    <script type="text/javascript">
        var navbar = document.querySelector('header')
        var rect = document.querySelector("#home").getBoundingClientRect();
        var offset = {
            top: rect.top + window.scrollY,
            left: rect.left + window.scrollX,
        };

        // Script to hide/show menu
        var video = document.querySelector('#video-header');
        window.onscroll = function () {
            // pageYOffset or scrollY
            if (window.pageYOffset > rect.height) {
                navbar.classList.add('scrolled')
                video.classList.add('scrolled')
            } else {
                navbar.classList.remove('scrolled')
                video.classList.remove('scrolled')
            }
        }
    </script>
    {{ end }}